a {
    text-decoration: none;
}

.panel-card{
    margin-bottom: 10px !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    position: relative;
    overflow: hidden;
}

.panel-card-header{
    padding: 10px;
    position: relative;
    font-family:"Monsterrat";
}
.row{
    margin: 15px !important;
}

.huge{
    font-size: 20px !important;
    line-height: normal !important;
    font-weight: bold !important;
    font-family: "Poppins" !important; 
}

.panel-card-footer span {
    padding: 3px;
    font-size: 13px;
    line-height: 20px;
    font-weight: medium !important;
    opacity: 1;
}

.panel-card-footer a  {
    color: white !important;
}

.bg-primary-2 {
    background: #00bae8 !important;
}

.bg-primary-dark{
    background: rgba(0,0,0,0.15) !important;
}

.icon {
    opacity: 0.3 !important;
    font-size: 80px !important;
    position: absolute !important;
    right: -6px !important;
    bottom: -45px !important;
    transform: rotate(-15deg);
    transform: all 0.3s ease-in-out !important;
}

.panel-card:hover .icon
{
    opacity: 0.5 !important;
    transform: rotate(0deg) scale(1.4) !important;
}

.mt-0-7 {
    margin-top: 0.7rem;
}

.bg-primary-dark:hover{
    background: rgba(0, 0, 0, 0.2)
}